<section class="section section--pb264" id="registration">
  <div class="container">
    <div class="section__top section__top--center">
      <div class="br-title">заявка</div>
    </div>
    <form action="#" class="form">
      <div class="form__wrap">
        <div class="form__header">Регистрация на чемпионат:</div>
        <label class="form__label">
          <input
            type="text"
            name="Имя"
            class="input-reset form__input input-name"
            placeholder="Имя"
          />
        </label>
        <label class="form__label">
          <input
            type="text"
            name="Фамилия"
            class="input-reset form__input input-lastname"
            placeholder="Фамилия"
          />
        </label>
        <label class="form__label">
          <input
            type="text"
            name="Адрес"
            class="input-reset form__input input-adress"
            placeholder="Адрес"
          />
        </label>
        <label class="form__label">
          <input
            type="text"
            name="Наименование учебного заведения"
            class="input-reset form__input"
            placeholder="Наименование учебного заведения"
          />
        </label>
        <label class="form__label">
          <input
            type="tel"
            name="Контактный телефон"
            class="input-reset form__input input-tel"
            placeholder="Контактный телефон"
          />
        </label>
        <label class="form__label">
          <input
            type="text"
            name="E-mail"
            class="input-reset form__input input-email"
            placeholder="E-mail"
          />
        </label>
        <div class="form__bottom">
          <button class="btn-reset form__btn" type="submit">РЕГИСТРАЦИЯ</button>
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__field" />
            <span class="custom-checkbox__content"
              >Согласен с
              <a href="#" class="custom-checkbox__link"
                >условиями использования</a
              >
              формы заявки и
              <a href="#" class="custom-checkbox__link"
                >политикой конфиденциальности</a
              >
              лица, разместившего форму заявки</span
            >
          </label>
        </div>
      </div>
    </form>
  </div>
</section>
