<section class="section section--first">
  <div class="container">
    <div class="first-screen">
      <div class="first-screen__content">
        <h1 class="first-screen__title">
          Летний чемпионат по финансовым играм
        </h1>
        <div class="first-screen__bottom">
          <div class="tags">
            <div class="tag">май-август 2023г.</div>
            <div class="tag">г. Хабаровск</div>
            <div class="tag">для школьников 8-18 лет</div>
          </div>
          <div class="first-screen__desc">
            Прокачай свои знания по финансовой грамотности
          </div>
        </div>
      </div>
      <div class="first-screen__img">
        <div class="blure-wrap">
          <div class="first-screen__img-wrap">
            <picture>
              <source srcset="img/cup.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/cup.png"
                class="image"
                width="524"
                height="524"
                alt="cup"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
