<footer class="footer" id="contacts">
  <div class="container">
    <div class="footer__top">
      <div class="footer__contacts">
        <a href="#" class="logo logo--footer">
          <div class="blure-wrap">
            <div class="logo__wrap">
              <img
                loading="lazy"
                src="./../img/svg/logo.svg"
                class="image"
                width="74"
                height="67"
                alt="logo"
              />
              <span class="logo__text">ФИНСГРАМ</span>
            </div>
          </div>
        </a>
        <div class="footer__contact">
          <div class="footer__main">
            <meta content="Хабаровский край" />
            <meta content="г. Хабаровск" />
            Хабаровский край, г. Хабаровск
          </div>
          <a class="tel footer__main" href="tel:89227774014">
            <meta itemprop="telephone" content="89227774014" />
            8 (922) 777- 40-14
          </a>
          <a class="email footer__main" href="mailto:club@finsgram.ru">
            <meta itemprop="email" content="club@finsgram.ru" />
            club@finsgram.ru
          </a>
          <ul class="social list-reset" title="">
            <li class="social__item">
              <a
                href="#"
                target="_blank"
                class="social__link"
                aria-label="Наша страничка в VK"
                ><svg class="social__svg">
                  <use xlink:href="img/sprite.svg#VK"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__img">
        <div class="blure-wrap">
          <div class="footer__img-wrap">
            <picture>
              <source srcset="img/cup.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/cup.png"
                class="image"
                width="544"
                height="544"
                alt="cup"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__wrapper">
        <span class="footer__title"
          >АВТОНОМНАЯ НЕКОММЕРЧЕСКАЯ ОРГАНИЗАЦИЯ ЦЕНТР РАЗВИТИЯ ЛИЧНЫХ И
          ПРОФЕССИОНАЛЬНЫХ КОМПЕТЕНЦИЙ "НАСТАВНИКИ"</span
        >
        <div class="footer__info">
          <span class="footer__copyright"
            >© Финсграм 2022-2023. Все права защищены.</span
          >
          <a href="#" class="footer__link">Общие положения</a>
          <a href="#" class="footer__link">Регламент проведения чемпионата</a>
          <a href="#" class="footer__link"
            >Политика обработки персональных данных</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
