<section class="section section--pt0 section--pb65">
  <div class="container">
    <div
      class="section__top section__top--row section__top--bt section__top--pt"
    >
      <div class="br-title">для кого</div>
      <h2 class="section__title section__title--mb">
        Кто может принять участие?
      </h2>
      <img
        loading="lazy"
        src="../img/star_yellow.svg"
        class="image"
        width="130"
        height="130"
        alt="star"
      />
    </div>
    <div class="fourth-screen">
      <div
        class="cards-row cards-row--wrapped cards-row--sb cards-row--init-1 cards-row--lg-2"
      >
        <div class="card card--p10">
          <div class="card__images">
            <picture>
              <source srcset="img/photo1-1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/photo1-1.png"
                class="image"
                width="159"
                height="159"
                alt="photo"
              />
            </picture>
            <picture>
              <source srcset="img/photo2-2.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/photo2-2.png"
                class="image"
                width="159"
                height="159"
                alt="photo"
              />
            </picture>
            <picture>
              <source srcset="img/photo3-3.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/photo3-3.png"
                class="image"
                width="159"
                height="159"
                alt="photo"
              />
            </picture>
            <picture>
              <source srcset="img/photo4-4.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/photo4-4.png"
                class="image"
                width="159"
                height="159"
                alt="photo"
              />
            </picture>
          </div>
          <span class="card__desc"
            >Школьники 8-18 лет из Хабаровска и Хабаровского края</span
          >
        </div>
        <div class="card card--p10">
          <span class="card__text card__text--lg card__text--mb70"
            >Для участия в чемпионате достаточно заполнить форму на сайте. В
            этом тебе могут помочь твои родители.
          </span>
          <span class="card__text card__text--lg"
            >После оформления заявки с тобой свяжутся организаторы и расскажут о
            дальнейших действиях.</span
          >
        </div>
      </div>
      <div class="message">
        <div class="message__item">
          <div class="message__text">Ты школьник?</div>
        </div>
        <div class="message__item">
          <div class="message__text">Хочешь быть финансово грамотным?</div>
        </div>
        <div class="message__item">
          <div class="message__text">Регистрируйся на чемпионат!</div>
        </div>
      </div>
    </div>
    <div class="section__bottom">
      <div class="section__btn-wrap section__btn-wrap--lg">
        <a href="#" class="btn btn--yellow btn--lg"> Принять участие </a>
      </div>
    </div>
  </div>
</section>
