<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="#" class="logo">
        <img
          loading="lazy"
          src="./../img/svg/logo.svg"
          class="image"
          width="74"
          height="67"
          alt="logo"
        />
        <span class="logo__text">ФИНСГРАМ</span>
      </a>
      <nav class="nav" title="Главное меню" data-menu>
        <button
          class="btn-reset burger-close"
          aria-label="Закрыть меню"
          data-menu-close
        ></button>
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a
              href="#aboutTheChampionship"
              class="nav__link"
              data-menu-item
              data-scroll
              >о чемпионате</a
            >
          </li>
          <li class="nav__item">
            <a href="#news" class="nav__link" data-menu-item data-scroll
              >новости</a
            >
          </li>
          <li class="nav__item">
            <a href="#contacts" class="nav__link" data-menu-item data-scroll
              >контакты</a
            >
          </li>
        </ul>
      </nav>
      <div class="header__btn">
        <a href="#registration" class="btn btn--yellow btn--md">Регистрация</a>
      </div>
      <button
        class="burger"
        aria-label="Открыть меню"
        aria-expanded="false"
        data-burger
      >
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
