<section class="section section--pt85" id="aboutTheChampionship">
  <div class="container">
    <div class="cards-row cards-row--wrapped cards-row--init-1">
      <div class="card card--blue card--large">
        <div class="card__header">
          <div class="br-title">о чемпионате</div>
        </div>
        <div class="card__content">
          <div class="card__wrap">
            <h3 class="card__title">
              Что такое чемпионат по финансовым играм?
            </h3>
            <span class="card__text"
              >Летний чемпионат по финансовым играм - это уникальная возможность
              повысить свои знания и навыки по финансовой грамотности. Чемпионат
              проводится в формате увлекательных настольных игр.
            </span>
          </div>
          <div class="card__wrap">
            <div class="card__images">
              <picture>
                <source srcset="img/photo1.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/photo1.png"
                  class="image"
                  width="159"
                  height="159"
                  alt="photo"
                />
              </picture>
              <picture>
                <source srcset="img/photo2.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/photo2.png"
                  class="image"
                  width="159"
                  height="159"
                  alt="photo"
                />
              </picture>
              <picture>
                <source srcset="img/photo3.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/photo3.png"
                  class="image"
                  width="159"
                  height="159"
                  alt="photo"
                />
              </picture>
              <picture>
                <source srcset="img/photo4.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/photo4.png"
                  class="image"
                  width="159"
                  height="159"
                  alt="photo"
                />
              </picture>
            </div>
            <span class="card__text"
              >Для участия в чемпионате не требуется специальных навыков и
              знаний. Изучать и закреплять знания по финансовой грамотности
              участники будут прямо во время турнира.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
