<section class="section">
  <div class="container">
    <div class="section__top section__top--bt section__top--pt">
      <div class="section__top-wrap">
        <div class="br-title">поддержка</div>
        <img
          loading="lazy"
          src="../img/star_yellow.svg"
          class="image"
          width="130"
          height="130"
          alt="star"
        />
        <h2 class="section__title section__title--mb section__title--xl">
          партнёры
        </h2>
      </div>
      <h2 class="section__title section__title--mb section__title--xl">
        и спонсоры
      </h2>
    </div>
    <div class="seventh-screen">
      <div
        class="cards-row cards-row--wrapped cards-row--center cards-row--init-2 cards-row--sm-3 cards-row--md-5 cards-row--lg-5"
      >
        <div class="card card--light card--partner">
          <img
            loading="lazy"
            src="../img/logo_fpg.png"
            class="image"
            height="105"
            alt="star"
          />
        </div>
        <div class="card card--light card--partner">
          <img
            loading="lazy"
            src="../img/logo_phk.png"
            class="image"
            height="105"
            alt="star"
          />
        </div>
        <div class="card card--light card--partner">
          <img
            loading="lazy"
            src="../img/logo_ncfg.png"
            class="image"
            height="105"
            alt="star"
          />
        </div>
        <div class="card card--light">
          <img
            loading="lazy"
            src="../img/logo_mnkf.png"
            class="image"
            height="105"
            alt="star"
          />
        </div>
        <div class="card card--light card--partner">
          <img
            loading="lazy"
            src="../img/logo_shfg.png"
            class="image"
            height="105"
            alt="star"
          />
        </div>
      </div>
    </div>
    @include('./baner.html')
  </div>
</section>
