<section class="section section--pt0">
  <div class="container">
    <div class="section__top section__top--center section__top--bb">
      <div class="br-title">организатор</div>
      <h2 class="section__title">Организатор чемпионата</h2>
    </div>
    <div class="sixth-screen">
      <div class="sixth-screen__wrap">
        <span class="sixth-screen__text"
          ><span class="sixth-screen__text sixth-screen__text--yellow"
            >Финсграм</span
          >
          - это некоммерческая организация, занимающаяся развитием навыков у
          детей, которые необходимы для успешной жизни и карьеры в будущем.
        </span>
        <span class="sixth-screen__text"
          >Мы обучаем детей и подростков 8−18 лет финансовой грамотности, soft
          skills, помогаем развивать эмоциональный интеллект и
          предпринимательское мышление.</span
        >
      </div>
      <div
        class="cards-row cards-row--wrapped cards-row--center cards-row--init-1 cards-row--xs-2 cards-row--sm-3"
      >
        <div class="card card--blue card--info">
          <div class="card__header card__header--mb0">
            <div class="card__title card__title--num">700+</div>
            <div class="card__icon card__icon--sm">
              <img
                loading="lazy"
                src="../img/star_white.svg"
                class="image"
                width="56"
                height="56"
                alt="star"
              />
            </div>
          </div>
          <div class="card__content">
            <div class="card__text">учеников за 2022 год</div>
          </div>
        </div>
        <div class="card card--blue card--info">
          <div class="card__header card__header--mb0">
            <div class="card__title card__title--num">30+</div>
            <div class="card__icon card__icon--sm">
              <img
                loading="lazy"
                src="../img/star_white.svg"
                class="image"
                width="56"
                height="56"
                alt="star"
              />
            </div>
          </div>
          <div class="card__content">
            <div class="card__text">школ-участников</div>
          </div>
        </div>
        <div class="card card--blue card--info">
          <div class="card__header card__header--mb0">
            <div class="card__title card__title--num">5</div>
            <div class="card__icon card__icon--sm">
              <img
                loading="lazy"
                src="../img/star_white.svg"
                class="image"
                width="56"
                height="56"
                alt="star"
              />
            </div>
          </div>
          <div class="card__content">
            <div class="card__text">площадок</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
